<%- include('./partials/head'); -%>
    <link href="/assets/css/contact.css" rel="stylesheet">
    <!-- About Start -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/leadership/leadership-7.png');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Conselho e Diretoria</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Management</li>
            </ol>

        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <section id="contact" class="contact">
            
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="ca-section">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3>Conselho de Administração</h3>
                    </div>
                    <div>
                        <p>O conselho de administração (CA) é o principal órgão da nossa estrutura de governança, responsável pela aprovação do direcionamento estratégico e pelo acompanhamento da gestão dos Negócios e Investimentos.</p>
                        <p>A diretoria, formada pelo diretor presidente e diretores executivos, é o órgão de execução das deliberações da assembleia geral e do CA. Seus membros são eleitos pelo CA e representam externamente o Grupo Boa Vida.</p>
                    </div>
                    <div class="d-flex flex-row gap-3 flex-wrap justify-content-center align-items-center">
                        <div class="person-card" style="background-image: url('/assets/img/management/pca.jpeg');">
                            <span><a id="pca-open-modal"><i id="pca-open-modal" class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        <div class="person-card" style="background-image: url('/assets/img/management/pce.jpeg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        <div class="person-card" style="background-image: url('/assets/img/management/president.jpg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                    </div>
                    
                </div>

                <div class="ca-section" style="margin-top: 100px;">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3>Responsáveis Por Integridade e Gestão De Riscos e Auditoria Interna</h3>
                    </div>
                    <div>
                        <p>Os Responsáveis por Integridade e Gestão de Riscos e Auditoria Interna são liderados diretamente pelo coordenador do Comitê de Integridade e Auditoria, órgão de apoio do conselho de administração:</p>
                    </div>
                    <div class="d-flex flex-row gap-3 flex-wrap justify-content-center align-items-center">
                        <div class="person-card" style="background-image: url('/assets/img/management/pca.jpeg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        <div class="person-card" style="background-image: url('/assets/img/management/pce.jpeg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        
                    </div>
                </div>

                <div class="ca-section" style="margin-top: 100px;">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3>Diretoria Executiva do Grupo Boa Vida</h3>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="d-flex flex-row gap-3 flex-wrap justify-content-center align-items-center">
                        <div class="person-card" style="background-image: url('/assets/img/management/pca.jpeg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        <div class="person-card" style="background-image: url('/assets/img/management/pce.jpeg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                        <div class="person-card" style="background-image: url('/assets/img/management/president.jpg');">
                            <span><a href=""><i class="bi bi-file-earmark-text"></i></a></span>
                        </div>
                    </div>
                </div>

                

                <%- include('./components/management-modal'); -%>
            </div>
        </section>
    </div>
    <!-- End Contact Section -->
    <!--footer -->
    <%- include('./partials/footer'); -%>
        <!-- footer -->