<%- include('./partials/head'); -%>
    <link href="/assets/css/header-hero.css" rel="stylesheet" />
    <link href="/assets/css/Business.css" rel="stylesheet" />
    <!-- ======= Header ======= -->
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/banner/m1.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Sobre</li>
            </ol>
            <div class="company-hero">
                <h2>Servimos Angola há 27 anos com os melhores serviços imobiliário</h2>
                <h5>O Grupo BOAVIDA Identifica, avalia, planifica e implanta projectos no sector imobiliário em Angola.</h5>
            </div>

        </div>
    </div>
    <!-- End Breadcrumbs -->




    <!-- Main News Slider Start -->
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
        <div class="container" data-aos="fade">
            <div class="row gy-3 project-construct">
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <image src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
              Planejamento
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
              Gestão da Inovação Eficaz
            </span>
                        </div>
                    </div>
                </div>
                <!-- End Info Item -->
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3  shadow-sm p-3 mb-5 bg-white rounded">
                        <img src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
              Construção
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
              Gestão da Inovação Eficaz
            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3  shadow-sm p-3 mb-5 bg-white rounded">
                        <img src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
              Solução
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
              Materiais de construção, escolhas inteligente
            </span>
                        </div>
                    </div>
                </div>
                <!-- End Info Item -->
            </div>
        </div>
    </div>

    <!-- Featured News Slider Start -->
    <div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-1 border-bottom shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row g-5 busiss-img">
                <div class="col-lg-7">

                    <p class="mb-4">
                        Identificamos, avaliamos, planificamos e implementamos projectos no sector imobiliário em Angola. Garantindo a gestão completa de toda a cadeia de valor do empreendimento imobiliário de uma forma integrada, completa e profissional.
                    </p>

                    <p class="mb-4">
                        Com uma vasta diversificação de negócios, o Grupo BOAVIDA possui uma equipa experiente com know how (conhecimento) angolano e já fez a entrega de mais de 5.000 unidades, assim como a entrega de mais de 15 projectos imobiliários.
                    </p>
                    <p class="mb-4">
                        A incorporação Imobiliária, principal actividade do Grupo Boavida, conta com um vasto portfólio de obras executadas em Luanda e não só, tendo como core business a identificação e compra de espaços, concepção, construção e comercialização de imóveis para
                        habitação e escritórios.
                    </p>
                    <h3 class="mb-3">
                        INDICADORES ECONÓMICO-FINANCEIROS
                    </h3>
                    <div class="row g-0 mb-3">
                        <div class="row gy-4 border-top-radiuos border">
                            <div class="mb-1 col-lg-6 text-sm text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Boa Vida Imóveis – 300.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Infinty 1 – 78.000.000.00</span>

                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Infinity 2 – 48.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Solida Plaza – 45.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condomínio  Vereda das Flores – 220.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condominio Hípicos – 65.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condominio Real Park – 40.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Cond. Ville Vermont – 84.000.000.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 " style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img width="400" class="position-absolute img-fluid wow zoomIn" data-wow-delay="0.9s" src="/assets/img/ubv-icons.png" style="object-fit: cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->

    <%- include('./partials/footer'); -%>