<div id="myModal" class="modal-add-photo">
    <!-- Modal content -->
    <div class="modal-content-news">
        <div class="modal-header">
            <h2>Criar Nova Notícia</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">

            <div class="wrapper">
                           
                <div class="form_2 data_info">
                    <h2>Adicione Imagens Complementares</h2>
                    <form>
                        <div class="form_container">
                            <div class="input_wrap news">
                                <label class="picture-news" for="picture__input-news" tabIndex="0">
                                    <span class="texto"></span>
                                    <span class="picture__image-news"></span>                                                    
                                </label>
                                <input type="file" name="photos" id="picture__input-news" class="input" multiple>
                                <input type="hidden" name="newId" id="id_new">
                            </div>
                        </div>
                        <div class="input_wrap">
                            <div id="sucesso">
                                <div id="sucesso_content">
                                    <i class="bi bi-exclamation-circle"></i>
                                    <p>Notícia Cadastrada Com Sucesso</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="btns_wrap">
                    <div class="common_btns form_2_btns">
                        <button type="button" class="btn_next">Concluir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>