<div id="myModalDelete" class="modal_delete_news">
    <div class="modal_content_delete_news">
        <div class="modal-header">
            EDITAR NOTICIA
        </div>

        <div class="modal-body">
            EDITAR NOTICIA
        </div>
    </div>
</div>