<div id="myModal" class="modal-add-photo">
    <!-- Modal content -->
    <div class="modal-content-news">
        <div class="modal-header">
            <h2>Criar Nova Notícia</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body p-0">

            <div class="wrapper m-0 pt-0">
                           
                <div class="form_2 data_info m-0 p-0 mt-9">
                    <h1 class="w-full text-center text-2xl m-5">Adicione Imagens Complementares</h1>
                    <form>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label class="picture-add-photo" for="picture_input_add_photo" tabIndex="0">
                                    <span class="texto"></span>
                                    <span class="picture_image_add_photo w-full flex direction-row gap-1 justify-center align-center flex-wrap" >
                                        
                                    </span> 
                                                                                       
                                </label>
                                <input type="file" name="photos" id="picture_input_add_photo" class="input" multiple>
                                <input type="hidden" name="newId" id="id_new">
                            </div>
                        </div>
                        <div class="input_wrap">
                            <div id="sucesso">
                                <div id="sucesso_content">
                                    <i class="bi bi-exclamation-circle"></i>
                                    <p>Notícia Cadastrada Com Sucesso</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="btns_wrap">
                    <div class="common_btns form_2_btns">
                        <p></p>
                        <button type="button" class="btn_next btn_add_photo">Concluir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>