<%- include('./partials/head'); -%>
    <!-- About Start -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/banner/bg-legal.png');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Sobre</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Sobre</li>
            </ol>

        </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="container-fluid  wow fadeInUp" data-wow-delay="0.1s">
        <div class="container  border-bottom shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">
                        </h5>
                        <h1 class="mb-0">We have been serving Angola for over 27 years with the best services</h1>
                    </div>
                    <p class="mb-4">The Boavida Group is a business group incorporated under Angolan law with more than 27 years' experience in the domestic market. Its portfolio includes projects in various sectors, with real estate as its main core business.</p>
                    <p class="mb-4">The Group has already built seven residential and office condominiums (Vereda das Flores, Real Park, Ville Vermont, Hipicus, Solida Plaza and Infinity l and II), and is currently building other large housing projects, encompassed in
                        the BOA VIDA Urbanization and BOA VIDA City. in the BOA VIDA Urbanization and BOA VIDA City, which, once completed, will bring significant gains to the count</p>
                    <p class="mb-4">With more than 5,400 employees, BOAVIDA has a human capital by gender divided into 91% male and 9% female, with an age percentage of 16.54% up to 25 years old, 77.10% between 26 and 45 years old and 6.36% over 46 years old. of age.
                        We have eight nationalities and 10 languages, including Portuguese, Polish, English, French, Spanish, Austrian, Chinese, Ukrainian, Arabic and Afrikaans. </p>

                    <p class="mb-4">As far as national appreciation is concerned, we have 6 (six) national languages, including Kimbundu, Umbundo, Kikongo, Tchokwe, Nganguela and Zulu.</p>
                    <p class="mb-4">For more than 27 years in Angola, the Boavida Group has been operating on the basis of innovation, modern and transparent management, the development of human capital, the promotion and development of sectors of the economy that were
                        previously little explored, acceleration local production in different areas:</p>
                    <div class="row g-0 mb-3">
                        <div class="row col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <div class="col-lg-6">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Real Estate</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Civil engineering;</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Communications and Business. </h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Agroindustry; </h5>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Fishing;</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Marble and granite;</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Training and Capacity Building; </h5>


                            </div>



                        </div>
                        <p class="mb-4">We are a team of dedicated, competent people focused on the personal success of the company and the country. The Boavida Group was founded over twenty years ago with a focus on the construction industry. It has delivered more than
                            ten thousand houses in various condominiums in Luanda. But the desire to go further has led the company to diversify its activities.
                        </p>

                    </div>
                </div>
                <!--
                <div class="col-lg-12 py-2 history-img">
                    <div class="position-relative h-100 ">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn " data-wow-delay="0.9s " src="/assets/img/historia-1.jpeg ">
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Facts Start -->
    <div class="container-fluid px-0 facts-baout ">
        <div class="py-5 banner-facts ">
            <div class="container py-5 ">
                <div class="row gx-0 g-4 ">
                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.1s ">
                        <div class="history-banner bg-transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="fa fa-users text-primary "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-white mb-0 ">Over 5,363 direct employees</h5>
                                <h1 class="text-white mb-0 " data-toggle="counter-up ">5.363</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.3s ">
                        <div class="history-banner transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="fa fa-building text-white "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-primary mb-0 ">Over 27 years in the Angolan market</h5>
                                <h1 class="mb-0 " data-toggle="counter-up ">27</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.6s ">
                        <div class="history-banner transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="bi bi-cash-stack "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-white mb-0 ">Over 500 Million USD in projects</h5>
                                <h1 class="text-white mb-0 " data-toggle="counter-up ">500</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- About Start -->
    <div class="container-fluid py-1 wow fadeInUp " data-wow-delay="0.1s ">
        <div class="container py-0 ">
            <div class="row g-5 py-5">
                <div class="col-lg-5 " style="min-height: 500px; ">
                    <div class="position-relative h-100 ">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn " data-wow-delay="0.5s " src="/assets/img/history.jpg " style="object-fit: cover; ">
                    </div>
                </div>
                <div class="col-lg-7 ">
                    <div class="section-title position-relative pb-3 mb-5 ">
                        <h5 class="fw-bold text-primary text-uppercase ">Our goal
                        </h5>
                        <h1 class="mb-0 ">Our goals allow us to continue in business</h1>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase ">MISSION</h5>
                        <p class="mb-4 ">
                        </p>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase ">VISION</h5>
                        <p class="mb-4 ">Committed to customer satisfaction, we create innovative products and services to provide the best quality of life.</p>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase "></h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Client satisfaction</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Professionalism</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Lead by example</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>A team spirit</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Resilience</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Serve with humility</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Materialization</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->
    <%- include('./partials/footer'); -%>