<%- include('./partials/head'); -%>
    <link href="/assets/css/header-hero.css" rel="stylesheet" />
    <link href="/assets/css/Business.css" rel="stylesheet" />
    <!-- ======= Header ======= -->
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/banner/m1.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <ol>
                <li><a href="/">Home</a></li>
                <li>about</li>
            </ol>
            <div class="company-hero">
                <h2>Real estate development</h2>
                <h5>The BOAVIDA Group identifies, evaluates, plans and implements projects in the real estate sector in Angola.</h5>
            </div>

        </div>
    </div>
    <!-- End Breadcrumbs -->




    <!-- Main News Slider Start -->
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
        <div class="container" data-aos="fade">
            <div class="row gy-3 project-construct">
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <img src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
                                Planning
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
                                Managing Effective Innovation
            </span>
                        </div>
                    </div>
                </div>
                <!-- End Info Item -->
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3  shadow-sm p-3 mb-5 bg-white rounded">
                        <img src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
                                Construction
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
                                Managing Effective Innovation
            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center gap-3  shadow-sm p-3 mb-5 bg-white rounded">
                        <img src="/assets/img/logos/icon-14.png" height="{50}" width="{50}" alt="icons" />
                        <div class="flex flex-col">
                            <span class="text-base font-medium leading-relaxed text-body-color sm:text-lg sm:leading-relaxed">
                                Solution
            </span>
                            <span class="mb-4 text-xl font-bold text-black dark:text-white sm:text-xl lg:text-xl xl:text-xl">
                                Building materials solution, smart choices
            </span>
                        </div>
                    </div>
                </div>
                <!-- End Info Item -->
            </div>
        </div>
    </div>

    <!-- Featured News Slider Start -->
    <div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-1 border-bottom shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row g-5 busiss-img">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="mb-0">
                            We have been serving Angola for over 27 years with the best services
                        </h1>
                    </div>
                    <p class="mb-4">
                        The BOAVIDA Group identifies, evaluates, plans and implements projects in the real estate sector in Angola. Ensuring the complete management of the entire real estate development value chain in an integrated, complete and professional manner.
                    </p>

                    <p class="mb-4">
                        With a vast diversification of businesses, the BOAVIDA Group has an experienced team with Angolan know-how and has already delivered more than 5,000 units, as well as more than 15 real estate projects.
                    </p>
                    <p class="mb-4">
                        Real estate development, the Boavida Group's main activity, has a vast portfolio of projects carried out in Luanda and beyond, with its core business being the identification and purchase of spaces, design, construction and marketing of real estate for
                        housing and offices.
                    </p>
                    <h3 class="mb-3">
                        ECONOMIC-FINANCIAL INDICATORS
                    </h3>
                    <div class="row g-0 mb-3">
                        <div class="row gy-4 border-top-radiuos border">
                            <div class="mb-1 col-lg-6 text-sm text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Boa Vida Real Estate– 300.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Infinty 1 – 78.000.000.00</span>

                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Infinity 2 – 48.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Solida Plaza – 45.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condominium  Vereda das Flores – 220.000.000.00</span>
                            </div>

                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condominium Hípicos – 65.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Condominium Real Park – 40.000.000.00</span>
                            </div>
                            <div class="mb-1 col-lg-6 text-sm">
                                <i class="fa fa-check-circle text-primary"></i><span>Cond. Ville Vermont – 84.000.000.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 " style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img width="400" class="position-absolute img-fluid wow zoomIn" data-wow-delay="0.9s" src="/assets/img/ubv-icons.png" style="object-fit: cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->

    <%- include('./partials/footer'); -%>