<div id="modal-delete-banner" class="modal-delete-banner">
    <div class="modal_content_delete_banner">
        <div class="modal-header">
            ELIMINAR BANNER
        </div>

        <div class="modal-body">
            <p>Tem a certeza que pretende eliminar este banner?</p>
            <div class="action-buttons">
                <a class="eliminar-banner" data-content="<%= params.id %>" id="eliminar-banner">Eliminar</a>
                <a class="save" href="/dashboard/banner/listar/default">Cancelar</a>
            </div>
        </div>
    </div>
</div>