<!-- =========== Scripts =========  -->

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    clifford: '#da373d',
                }
            }
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/assets/vendor/jquery.serialize/jquery.serialize-object.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/assets/js/admin/main.js"></script>
<script src="/assets/js/login.js"></script>
<script src="/assets/js/admin/modal.js"></script>
<script src="/assets/js/admin/accessLevel.js"></script>


<!-- ----------------VIDEO COMPONENTS------------------------ -->
<script src="/assets/js/admin/components/video/video.js"></script>
<script src="/assets/js/admin/components/video/videos.js"></script>
<script src="/assets/js/admin/components/video/delete-video.js"></script>
<script src="/assets/js/admin/components/video/edit-video.js"></script>

<!-- ---------------NEWS COMPONENTS----------- -->
<script src="/assets/js/admin/components/news/delete.js"></script>
<script src="/assets/js/admin/components/news/deletePhoto.js"></script>
<script src="/assets/js/admin/components/news/add-photo.js"></script>
<script src="/assets/js/admin/components/news/edit.js"></script>
<script src="/assets/js/admin/components/news/register.js"></script>
<script src="/assets/js/admin/components/news/new.js"></script>
<script src="/assets/js/admin/components/news/enable-disable-new.js"></script>

<!-- ---------------USERS COMPONENTS----------- -->
<script src="/assets/js/admin/components/user/delete.js"></script>
<script src="/assets/js/admin/components/user/edit.js"></script>
<script src="/assets/js/admin/components/user/register.js"></script>
<script src="/assets/js/admin/components/user/user.js"></script>


<!-- -----------------BANNER COMPONENTS---------------------- -->
<script src="/assets/js/admin/components/banner/edit-banner.js"></script>
<script src="/assets/js/admin/components/banner/delete-banner.js"></script>
<script src="/assets/js/admin/components/banner/banner.js"></script>
<script src="/assets/js/admin/components/banner/banners.js"></script>




</html>