<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boavida Area administrativa</title>

    <!---css librery-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/core.css">
    <!-- ======= Styles ====== -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/assets/css/admin/style.css">
    
    <link rel="stylesheet" href="/assets/css/admin/accessLevel.css">


    <!-- ------------------VIDEO COMPONENTS------------------------------- -->
    <link rel="stylesheet" href="/assets/css/admin/components/video/video.css">
    

    <!-- ---------------NEWS COMPONENTS----------------- -->
    <link rel="stylesheet" href="/assets/css/admin/components/news/delete.css">
    <link rel="stylesheet" href="/assets/css/admin/components/news/add-photo.css">
    <link rel="stylesheet" href="/assets/css/admin/components/news/edit.css">
    <link rel="stylesheet" href="/assets/css/admin/components/news/register.css">
    <link rel="stylesheet" href="/assets/css/admin/components/news/news.css">
    <link rel="stylesheet" href="/assets/css/admin/components/news/new.css">


    <!-- ------------------USERS COMPONENTS----------------- -->
    <link rel="stylesheet" href="/assets/css/admin/components/users/delete.css">
    <link rel="stylesheet" href="/assets/css/admin/components/users/edit.css">
    <link rel="stylesheet" href="/assets/css/admin/components/users/register.css">
    <link rel="stylesheet" href="/assets/css/admin/components/users/userAdmin.css">


    <!-- ------------------BANNER COMPONENTS----------------- -->
    <link rel="stylesheet" href="/assets/css/admin/components/banner/delete-banner.css">
    <link rel="stylesheet" href="/assets/css/admin/components/banner/edit-banner.css">
    <link rel="stylesheet" href="/assets/css/admin/components/banner/banner.css">


    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        
    



</head>

<body>