<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boavida Area administrativa</title>

    <!---css librery-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- ======= Styles ====== -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/assets/css/admin/style.css">
    <link rel="stylesheet" href="/assets/css/admin/userAdmin.css">
    <link rel="stylesheet" href="/assets/css/admin/accessLevel.css">
    <link rel="stylesheet" href="/assets/css/admin/news.css">
    <link rel="stylesheet" href="/assets/css/admin/new.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        
    <link rel="stylesheet" href="/assets/css/admin/banner.css">



</head>

<body>