<div class="topbar border py-3 pr-24">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="relative w-[40px] h-[20px] rounded-full overflow-visible cursor-pointer ">
        <a href="/dashboard/profile" class="flex items-center">
            <div class="px-5">
                <%=session.fullName %>
            </div>
            <img class="rounded-full" src="/assets/img/user/<%=session.userProfile %>" alt="user">
        </a>

    </div>
</div>