<div class="topbar border py-3 pr-24">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
        <div class="flex items-center">
            <div class="px-5">
                <%=session.fullName %>
            </div>
            <img class="rounded-full w-12" src="/assets/img/user/<%=session.userProfile %>" alt="user">
        </div>
</div>