<div id="myModalDelete" class="modal_delete_news">
    <div class="modal_content_delete_news">
        <div class="modal-header">
            Eliminar útilizador
        </div>

        <div class="modal-body">
            <p>Tem a certeza que pretende eliminar esta útilizador?</p>
            <div class="action-buttons">
                <a class="eliminar" id="eliminar-user" data-content="<%= params.id %>">Eliminar</a>
                <a class="cancelar" href="/dashboard/user">Cancelar</a>
            </div>
        </div>
    </div>
</div>