<div id="myModal" class="modal-user">
    <!-- Modal content -->
    <div class="modal-content-user">
        <% if(session.type == "admin"){%>
            <div class="modal-header">
                <h2>Cadastro de Novo Usuário</h2>
                <span class="close" id="close">&times;</span>
            </div>
            <%} %>

                <div class="modal-body">
                    <form id="registrationForm">
                        <p class="tittle">Preencha o Formulário</p>
                        <div class="registerTop">
                            <div>
                                <label class="picture" for="picture__input" tabIndex="0">
                                    <span class="picture__image"></span>
                                </label>
                                <input type="file" name="picture__input" id="picture__input">
                            </div>
                            <div class="tamanho nomes">
                                <input class="input" type="text" id="firstName" name="firstName" required autocomplete="off" placeholder="Digite o Primeiro Nome">
                                <input class="input" type="text" id="lastName" name="lastName" required autocomplete="off" placeholder="Digite o Sobrenome">
                            </div>
                        </div>
                        <div class="tamanho pass">
                            <input class="tamanho" type="email" id="email" name="email" required autocomplete="off" placeholder="Digite o endereço de Email">
                            <input type="text" id="phoneNumber" name="phoneNumber" autocomplete="off" placeholder="Número de Telefone">
                        </div>
                        <div class="tamanho pass">
                            <input type="password" id="password" name="password" required autocomplete="off" placeholder="Senha">
                            <input type="password" id="passConfirm" name="passConfirm" autocomplete="off" placeholder="Confirmar Senha">
                        </div>
                        <div class="tamanho select">
                            <div style="margin-top: 15px;">
                                <label class="label" for="permissionId">Nivel de Acesso:</label>
                                <select id="permissionId" name="permissionId">
                        </select>
                            </div>
                        </div>
                        <div id="message">
                            <div id="message_Content">
                                <i class="bi bi-exclamation-circle"></i>
                                <p>Por Favor Preencha Todos os Campos!</p>
                            </div>
                        </div>
                        <div id="message2">
                            <div id="message_Content">
                                <i class="bi bi-exclamation-circle"></i>
                                <p>Por Favor Verifique Se As Senhas Condizem!</p>
                            </div>
                        </div>
                        <div id="success">
                            <div id="success_Content">
                                <i class="bi bi-exclamation-circle"></i>
                                <p>Usuário Cadastrado Com Sucesso</p>
                            </div>
                        </div>
                        <button type="button" id="registerButton">
                            <p id="button-text">Cadastrar</p>
                            <ion-spinner id="loading" style="display: none; color: #fff;" name="circular"></ion-spinner>
                        </button>
                    </form>
                </div>

    </div>
</div>