<div id="pca-modal" class="modal_delete_news fade">
    <div class="modal_content_delete_news">
        <div class="modal-header">
            <p>Presidente do Conselho de Administração</p>
            <p>X</p>
        </div>

        <div class="modal-body">
            <p>Detalhes sobre o PCA</p>
        </div>
        <div class="modal-footer">
            <p>Close Modal</p>
        </div>
    </div>
</div>