<div id="myModal" class="modal-news">
    <!-- Modal content -->
    <div class="modal-content-news">
        <div class="modal-header">
            <h2>Criar Nova Notícia</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">

            <div class="wrapper">
                <div class="header">
                    <ul>
                        <li class="active form_1_progessbar">
                            <div>
                                <p>1</p>
                            </div>
                        </li>
                        <li class="form_2_progessbar">
                            <div>
                                <p>2</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form_wrap">
                    <div class="form_1 data_info">
                        <h2>Cadastrar Nova Notícia</h2>
                        <form id="news-register">
                            <div class="form_container">
                                <div class="input_wrap">
                                    <input type="text" name="title" class="input" placeholder="Título da Notícia">
                                </div>
                                <div class="input_wrap" style="display: flex; flex-direction: row; gap: 20px;">
                                    <input type="text" name="typeOfNew" class="input" placeholder="Tipo de Notícia">
                                    <input type="date" name="datePublished" id="datePublished"  class="input">
                                </div>
                                
                                <div class="input_wrap newsCover">
                                    <label class="picture-newsCover" for="picture__input-newsCover" tabIndex="0">
                                    <span class="picture__image-newsCover"></span>
                                </label>
                                    <input type="file" name="cover" id="picture__input-newsCover" class="input">
                                </div>
                                <div class="input_wrap">
                                    <div id="editor" style="height: 300px;">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input_wrap">
                                <div id="alerta">
                                    <div id="alerta_content">
                                        <i class="bi bi-exclamation-circle"></i>
                                        <p>Por Favor Preencha Todos os Campos</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form_2 data_info" style="display: none;">
                    <h2>Adicione Imagens Complementares</h2>
                    <form>
                        <div class="form_container">
                            <div class="input_wrap news">
                                <label class="picture-news" for="picture__input-news" tabIndex="0">
                                    <span class="texto"></span>
                                    <span class="picture__image-news"></span>                                                    
                                </label>
                                <input type="file" name="photos" id="picture__input-news" class="input" multiple>
                                <input type="hidden" name="newId" id="id_new">
                            </div>
                        </div>
                        <div class="input_wrap">
                            <div id="sucesso">
                                <div id="sucesso_content">
                                    <i class="bi bi-exclamation-circle"></i>
                                    <p>Notícia Cadastrada Com Sucesso</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="btns_wrap">
                    <div class="common_btns form_1_btns">
                        <button type="button" class="btn_next">Proximo <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                    </div>
                    <div class="common_btns form_2_btns" style="display: none;">
                        <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                        <button type="button" class="btn_next">
                            <p id="button-text">Concluir</p>
                            <ion-spinner id="loading" style="display: none; color: #fff;" name="circular"></ion-spinner>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>