<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a href="/" class="navbar-brand logo">
                <img src="images/logo.png" id="logo" alt="pco" width="150">
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home-page" id="home">Home</a></li>
                <li>
                    <a href="#service-page" id="home">Serviços</a>
                </li>
                <li>
                    <a href="#price-page" id="home">Principais Serviços</a>
                </li>
                <li>
                    <a href="#team-page" id="home">Nossa Equipa</a>
                </li>
                <li>
                    <a href="#faq-page" id="home">AJuda</a>
                </li>
                <li>
                    <a href="#blog-page" id="home">Publicidade</a>
                </li>
                <li>
                    <a href="#contact-page" id="home">Contacto</a>
                </li>
                <li><a class="dropdown-item" href="/login">Entrar</a></li>
                <li><a class="dropdown-item" href="/usuario">Cadastrar</a></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->