/* Estilização da Tabela de usuarios */

.bannerTable {
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 41px -30px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 41px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 41px -30px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.bannerTable h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

#banner-list {
    border-collapse: collapse;
    width: 100%;
}

#banner-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#banner-list tr:hover {
    background-color: #091E3E;
    color: #fff;
    cursor: pointer;
}

#banner-list tr:hover .bi {
    color: #fff;
}

#banner-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: #091e3e;
}

#banner-list td img {
    border-radius: 50%;
    border: 2px solid #091e3e;
}

#banner-list td a {
    text-decoration: none;
    color: #091E3E;
    font-size: 16px;
}

#banner-list td a i:hover {
    color: #fff;
}

/* ------------------------ Estilização do Carregamento da Imagem do Banner ---------------------- */

#picture-input-banner {
    display: none;
}

.banner {
    width: 100%;
}

.picture-banner {
  width: 100%;
  height: 250px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #091E3E;
  border: 2px dashed #333;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 20px;
}

.picture-banner:hover {
    color: #091E3E;
    background: #ccc;
}

.picture__img-newsCover {
    max-width: 100%;
}


#success{
    display: none;
    width: 100%;
}

#success_Content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 15px;
    margin-top: 10px;
}