.header-new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 10px;
}

.cover_new img {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.8991246156665791) 0%, rgba(255,255,255,1) 100%);
}

.header {
    width: 100%;
    background-color: #091e3e;
    border-radius: 2px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.header p {
    background-color: #0DCAF0;
    padding: 10px;
    color: #091e3e;
    text-align: center;
}

.news-header {
    width: 700px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Poppins;
}

.news-header .type_data {
    display: flex;
    justify-content: start;
    gap: 3px;
    font-size: 16px;
    color: #646464;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 10px;
    padding: 10px;
}

.news-header .topo h1 {
    font-size: 32px;
    font-weight: 500;
    color: #091e3e;
    padding: 10px;
    border-left: 5px solid #091e3e;
}

.new-photos-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 15px;
    width: 300px;
}

.footer-photo-new {
    width: 100%;
    background-color: #091e3e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;    
}

.footer-photo-new span {
    padding: 10px;
    gap: 5px;
    cursor: pointer;
}

.footer-photo-new span a i {
    margin-right: 5px;
}

