.news {
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.news .tittle {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news .tittle button {
    padding: 12px;
    background-color: #091E3E;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border-radius: 1px;
    border: none;
}

.news input {
    outline: none;
}

.news .inputs .sub-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.news .inputs .sub-input input {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.news .inputs .sub-input input:focus {
    border: 1px solid #091E3E;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}



/* MODAL */
.modal-news {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-news {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #091E3E;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.modal-body h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

  .modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .modal-footer {
    padding: 20px;
    background-color: #fff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-footer button {
    border: none;
    border-radius: 2px;
    background-color: #091E3E;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 15px;
  }

  
/* ------------------------ Estilização das outras imagens ---------------------- */

#picture__input-newsCover {
  display: none;
}

.picture-newsCover {
  width: 100%;
  height: 250px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #091E3E;
  border: 2px dashed #091E3E;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.picture-newsCover:hover {
  color: #091E3E;
  background: #ccc;
}

.picture__img-newsCover {
  max-width: 100%;
}


/* ------------------------ Estilização das outras imagens ---------------------- */


#picture__input-news {
  display: none;
}

.picture-news {
  width: 100%;
  height: 300px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #091E3E;
  border: 2px dashed #091E3E;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.picture-news:hover {
  color: #091E3E;
  background: #ccc;
}

.picture__img-news {
  max-width: 30%;
  margin: 5px;
}

/* ------------------------ Estilização da Tabela ---------------------- */

#newsList {
  border-collapse: collapse;
  width: 100%;
  
}

#newsList td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

#newsList tr:hover {
  background-color: #091E3E;
  color: #fff;
}

#newsList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fff;
  color: #000;
  padding: 15px;
}
