.navigationTab {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px solid rgba(9,30,62,0.49);
}

.navigationTab a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    padding: 10px;
    border-right: 1px solid #ccc;
}
 
.eb {
    display: block;
    width: 100%;
}

.userTable {
    width: 100%;
}

  /* Estilização do Modal para cadastro de usuario */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #091E3E;
    color: white;
  }
  
  .modal-body form {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-body form .tittle {
    font-size: 24px;
    color: #091E3E;
    margin: 20px;

}

.modal-body input {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 10px;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.modal-body .nomes, .pass {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    justify-content: space-between;
}

.modal-body .nomes input, .pass input {
    width: 49%;
}

.modal-body .tamanho {
    width: 65%;
}

.modal-body .tamanho .select {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.modal-body .tamanho select {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    gap: 20px;
}

.modal-body .tamanho select option {
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 14px;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #091E3E;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .modal-footer button {
    border: 3px solid #091E3E;
    border-radius: 2px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
  }


/* Fim da Estilização do Modal para cadastro de usuario */

.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
}

.pagination a {
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #091E3E;
}

