<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">

                        <div class="navigationTab">
                            <div>
                                <a href="user">Utilizadores do Sistema</a>
                                <a href="accesslevel">Níveis de Acesso</a>
                            </div>
                            <!-- <button id="myBtn" class="btn">Criar Novo Nivel de Acesso</button> -->
                        </div>
                        <div class="cardHeader">
                            <!-- <div id="myModal" class="modal-accessLevel">
                                <div class="modal-content-accessLevel">
                                    <div class="modal-header">
                                        <h2>Criação de novo Nível de Acesso</h2>
                                        <span class="close">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <form id="acessLevelRegister">
                                            <p class="tittle">Preencha o Formulário</p>
                                            <input class="tamanho" type="text" name="role" id="role" placeholder="Digite o Descritivo do Nivel de Acesso">
                                            <div class="modal-footer">
                                                <button type="button" id="acessLevelBtn">Cadastrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="tableAcessLevel">
                            <h1>Níveis de Acesso Existentes</h1>
                            <table id="acessLevel">
                                <tr>
                                    <th>ID</th>
                                    <th>NIVEL DE ACESSO</th>
                                    <th colspan="3" style="text-align: center;">AÇÃO</th>
                                </tr>                                        
                            </table> 
                        </div>
                        
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>