<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">

                        <div class="navigationTab">
                            <a href="user">Utilizadores do Sistema</a>
                            <a href="accesslevel">Níveis de Acesso</a>


                        </div>

                        <div class="ebs details">
                            <div class="recentOrders">
                                <div class="cardHeader">
                                    <h2>Niveis de Acesso</h2>
                                    <button id="myBtn" class="btn">Criar Novo Nivel de Acesso</button>
                                    <!-- ======= Modal para criação do usuário ======= -->
                                    <div id="myModal" class="modal">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2></h2>
                                                <span class="close">&times;</span>
                                            </div>
                                            <div class="modal-body">
                                                <form action="">

                                                    <p class="tittle">Preencha o Formulário</p>

                                                    <input class="tamanho" type="text" placeholder="Digite o Descritivo do Nivel de Acesso">

                                                    <div class="tamanho select">
                                                        <label class="label" for="dep">Acessivel à: </label>
                                                        <select name="dep" id="cars">
                                                        <option value="admin">Dept. Administrativo</option>
                                                        <option value="tic">Dept. Tecnologia</option>
                                                        <option value="adv">Dept. Marketing</option>
                                                        <option value="comun">Dept. Comunicação</option>
                                                    </select>
                                                    </div>

                                                    <div class="tamanho">
                                                        <label for="cars">Ativado:</label>
                                                        <input type="radio" placeholder="Ativado">
                                                        <label for="cars">Desativado:</label>
                                                        <input type="radio" placeholder="Desativado">
                                                    </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button>Cadastrar</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    <script>
                                        // Get the modal
                                        var modal = document.getElementById("myModal");

                                        // Get the button that opens the modal
                                        var btn = document.getElementById("myBtn");

                                        // Get the <span> element that closes the modal
                                        var span = document.getElementsByClassName("close")[0];

                                        // When the user clicks the button, open the modal 
                                        btn.onclick = function() {
                                            modal.style.display = "block";
                                        }

                                        // When the user clicks on <span> (x), close the modal
                                        span.onclick = function() {
                                            modal.style.display = "none";
                                        }

                                        // When the user clicks anywhere outside of the modal, close it
                                        window.onclick = function(event) {
                                            if (event.target == modal) {
                                                modal.style.display = "none";
                                            }
                                        }
                                    </script>
                                </div>

                                <table class="userTableUA">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Nível de Acesso</td>
                                            <td>Acções</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>#1</td>
                                            <td>Super Admin</td>
                                            <td>
                                                <a href="#"><i class="bi bi-pencil-square"></i></a>
                                                <a href="#"><i class="bi bi-x-circle"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#2</td>
                                            <td>Admin</td>
                                            <td>
                                                <a href=""><i class="bi bi-pencil-square"></i></a>
                                                <a href=""><i class="bi bi-x-circle"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#3</td>
                                            <td>Editor</td>
                                            <td>
                                                <a href=""><i class="bi bi-pencil-square"></i></a>
                                                <a href=""><i class="bi bi-x-circle"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#4</td>
                                            <td>Comunicador</td>
                                            <td>
                                                <a href=""><i class="bi bi-pencil-square"></i></a>
                                                <a href=""><i class="bi bi-x-circle"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="pagination">
                            <p>Página » </p>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>