<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">
                
                    <%- include('./partials/nav'); -%>
                        <!-- ======================= Cards ================== -->
                        <div class="cardBox">
                            <div class="card">
                                <div>
                                    <div class="numbers">504</div>
                                    <div class="cardName">Visualizações diárias</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="eye-outline"></ion-icon>
                                </div>
                            </div>


                            <div class="card">
                                <div>
                                    <div class="numbers">284</div>
                                    <div class="cardName">Usuários</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="people-outline"></ion-icon>
                                </div>
                            </div>

                            <div class="card">
                                <div>
                                    <div class="numbers">20</div>
                                    <div class="cardName">Vídeo</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="videocam-outline"></ion-icon>
                                </div>
                            </div>
                            <div class="card">
                                <div>
                                    <div class="numbers">18</div>
                                    <div class="cardName">Notícias</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="newspaper-outline"></ion-icon>
                                </div>
                            </div>
                        </div>

                        <!-- ================ Order Details List ================= -->
                        <div class="details">
                            <div class="recentOrders">
                                <div class="cardHeader">
                                    <h2>Últimas notícias</h2>
                                    <a href="#" class="btn">Ver Todas</a>
                                </div>

                                <table>
                                    <thead>
                                        <tr>
                                            <td>Titulo</td>
                                            <td>Tipo</td>
                                            <td>Dia de realização</td>
                                            <td>Estado</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>

                                        <tr>
                                            <td>Mulheres participam em....</td>
                                            <td>Palestra</td>
                                            <td>13 de outubro</td>
                                            <td><span class="status delivered">Activo</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- ================= New Customers ================ -->
                            <div class="recentCustomers">
                                <div class="cardHeader">
                                    <h2>Todos usúarios</h2>
                                </div>

                                <table>

                                    <tr>
                                        <td width="60px">
                                            <div class="imgBx"> <img src="/assets/upload/imgs/user.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <h4>Kambaia L. Alberto <br> <span>TI</span></h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="60px">
                                            <div class="imgBx"> <img src="/assets/upload/imgs/user.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <h4>Eduardo Brito <br> <span>TI</span></h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="60px">
                                            <div class="imgBx"> <img src="/assets/upload/imgs/user.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <h4>David <br> <span>Italy</span></h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="60px">
                                            <div class="imgBx"> <img src="/assets/upload/imgs/user.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <h4>Amit <br> <span>India</span></h4>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="60px">
                                            <div class="imgBx"> <img src="/assets/upload/imgs/user.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <h4>Amit <br> <span>India</span></h4>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>