<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                <div class="news">
                    <div class="tittle">
                        <h3>Adicione ou edite as notícias do site</h3>
                        <button id="myBtn" class="btn">Adicionar Nova Notícia</button>
                    </div>
                    <div class="cardHeader">
                    <!-- ======= Modal para criação do usuário ======= -->
                        <div id="myModal" class="modal-news">
                            <!-- Modal content -->
                            <div class="modal-content-news">
                                <div class="modal-header">
                                    <h2>Criar Nova Notícia</h2>
                                    <span class="close">&times;</span>
                                </div>
                                <div class="modal-body">

                                    <div class="wrapper">
                                        <div class="header">
                                            <ul>
                                                <li class="active form_1_progessbar">
                                                    <div>
                                                        <p>1</p>
                                                    </div>
                                                </li>
                                                <li class="form_2_progessbar">
                                                    <div>
                                                        <p>2</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form_wrap">
                                            <div class="form_1 data_info">
                                                <h2>Cadastrar Nova Notícia</h2>
                                                <form id="news-register">
                                                    <div class="form_container">
                                                        <div class="input_wrap">
                                                            <input type="text" name="title" class="input" placeholder="Título da Notícia">
                                                        </div>
                                                        <div class="input_wrap" style="display: flex; flex-direction: row; gap: 20px;">
                                                            <input type="text" name="typeOfNew" class="input" placeholder="Tipo de Notícia">
                                                            <input type="date" name="datePublished" class="input">
                                                        </div>
                                                        <div class="input_wrap">
                                                           
                                                        </div>
                                                        <div class="input_wrap newsCover">
                                                            <label class="picture-newsCover" for="picture__input-newsCover" tabIndex="0">
                                                                <span class="picture__image-newsCover"></span>
                                                            </label>
                                                            <input type="file" name="cover" id="picture__input-newsCover" class="input">
                                                        </div>
                                                        <div class="input_wrap">
                                                            <div id="editor" style="height: 300px;">
                                                            </div>
                                                        </div>
                                                        <div class="input_wrap">
                                                            <span 
                                                                id="alerta" 
                                                                style="
                                                                    width: 100%; 
                                                                    background-color: #f00; 
                                                                    display: flex; 
                                                                    flex-direction: row; 
                                                                    justify-content: center;    
                                                                    align-items: center; 
                                                                    border-radius: 2px; 
                                                                    padding: 15px; 
                                                                    gap: 10px; 
                                                                    color: #fff;">
                                                                <i class="bi bi-exclamation-circle"></i>
                                                                <p>Por Favor preencha todos os campos</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form_2 data_info" style="display: none;">
                                                <h2>Adicione Imagens Complementares</h2>
                                                <form>
                                                    <div class="form_container">
                                                        <div class="input_wrap news">
                                                            <label class="picture-news" for="picture__input-news" tabIndex="0">
                                                                <span class="texto"></span>
                                                                <span class="picture__image-news"></span>
                                                            </label>
                                                            <input type="file" name="photos" id="picture__input-news" class="input" multiple>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="btns_wrap">
                                            <div class="common_btns form_1_btns">
                                                <button type="button" class="btn_next">Proximo <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                                            </div>
                                            <div class="common_btns form_2_btns" style="display: none;">
                                                <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                                                <button type="button" class="btn_next btnFinish">Concluir</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="modal_wrapper">
                                        <div class="shadow"></div>
                                        <div class="success_wrap">
                                            <span class="modal_icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
                                            <p>A Notícia foi adicionada com sucesso.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                                                
                            </div>
                        </div>
                        <!-- ======= Apresentação das Notícias ======= -->
                        <div class="notices">
                            <div class="notice">
                                <div class="tableNews">
                                    <h1>Noticias Existentes</h1>
                                    <table id="newsList">
                                        <tr>
                                            <th>ID</th>
                                            <th>CAPA</th>
                                            <th>TITULO</th>
                                            <th>TIPO</th>
                                            <th>DATA DE PUBLICAÇÃO</th>
                                            <th colspan="3" style="text-align: center;">AÇÃO</th>
                                        </tr>                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>