<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                <div class="news">
                    <div class="tittle">
                        <h3>Adicione ou edite as notícias do site</h3>
                        <button id="myBtn" class="btn">Adicionar Nova Notícia</button>
                    </div>
                    <div class="cardHeader">
                        <!-- ======= Modal para criação do usuário ======= -->
                        <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content"> 
                                <div class="modal-header">
                                    <h2>Criar Nova Notícia</h2>
                                    <span class="close">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <h2>Adicionar Nova Notícia</h2>
                                    <div class="inputs">
                                        <div class="sub-input">
                                            <input type="Text" placeholder="Titulo da Notícia">
                                            <input type="text" placeholder="Tipo de Notícia">
                                        </div>
                                        <div class="ficheiros">
                                            <div class="sub-fich">
                                                <input type="file" placeholder="Primeira Imagem da Notícia">
                                                <input type="file" placeholder="Segunda Imagem da Notícia">
                                                <input type="file" placeholder="Terceira Imagem da Notícia">
                                            </div>
                                            <div class="sub-fich">
                                                <input type="file" placeholder="Quarta Imagem da Notícia">
                                                <input type="file" placeholder="Quinta Imagem da Notícia">
                                                <input type="file" placeholder="Sexta Imagem da Notícia">
                                            </div>
                                        </div>
                                    </div>
                                    <textarea id="meu-editor" placeholder="Type Here..."></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="apresentar()">Adicionar Notícia</button>
                                    <script>
                                        function apresentar() {me avi
                                            // Obtém o conteúdo do TinyMCE
                                            var conteudo = tinymce.get('meu-editor').getContent();
                
                                            // Visualiza o conteúdo (pode ser exibido em um alert, console.log, ou em algum outro elemento na página)
                                            console.log("Conteúdo do TinyMCE:", conteudo);
                
                                            // Exibe o conteúdo em algum lugar na página (por exemplo, em um elemento com o ID 'conteudo-exibido')
                                            document.getElementById('conteudo-exibido').innerHTML = "Conteúdo do TinyMCE: " + conteudo;
                                        }
                                    </script>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- ======= Apresentação das Notícias ======= -->
                        <div class="notices">
                            <div class="notice">
                                <div id="conteudo-exibido">Conteudo</div>
                            </div>
                        </div>
                    </div>

                    

                    <script>
                        tinymce.init({
                        selector: 'textarea#meu-editor',
                        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                        tinycomments_mode: 'embedded',
                        tinycomments_author: 'Author name',
                        mergetags_list: [
                          { value: 'First.Name', title: 'Grupo BOAVIDA' },
                          { value: 'Email', title: 'geral@grupoboavida.co.ao' },
                        ],
                        menubar: '', });

                        // Get the modal
                        var modal = document.getElementById("myModal");
                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        // When the user clicks the button, open the modal 
                        btn.onclick = function() {
                          modal.style.display = "block";
                        }
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                          modal.style.display = "none";
                        }
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                          if (event.target == modal) {
                            modal.style.display = "none";
                          }
                        }

                        
                    </script>
                    
                      
            </div>
    </div>

    <%- include('./partials/footer'); -%>