<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">

                        <div class="navigationTab">
                            <a href="#">Gerenciar Níveis de Acesso</a>
                            <a href="#">Cadastrar Novo Usuário</a>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>