<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">

                        <div class="navigationTab">
                            <a href="#">Gerenciar Níveis de Acesso</a>
                            <a href="#">Cadastrar Novo Usuário</a>
                        </div>
                        
                        <div class="cadastro">
                            <form action="">
                                <input type="text" placeholder="Digite o Nome">
                                <input type="text" placeholder="Digite o Sobrenome">
                                <input type="text" placeholder="Digite o endereço de Email">
                                <input type="text" placeholder="Departamento">
                                <input type="text" placeholder="Função">

                            </form>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>