<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">

                        <div class="navigationTab">
                            <a href="user">Utilizadores do Sistema</a>
                            <a href="accesslevel">Níveis de Acesso</a>
                            
                            
                        </div>

                        <div class="eb details">
                            <div class="recentOrders">
                                <div class="cardHeader">
                                    <h2>Usuários Cadastrados</h2>
                                    <button id="myBtn" class="btn">Adicionar Novo Usuário</button>
                                    <!-- ======= Modal para criação do usuário ======= -->
                                    <div id="myModal" class="modal-user">
                                        <!-- Modal content -->
                                        <div class="modal-content-user"> 

                                            <div class="modal-header">
                                                <h2>Cadastro de Novo Usuário</h2>
                                                <span class="close">&times;</span>
                                            </div>

                                            <div class="modal-body">

                                                <form action="" id="registrationForm">

                                                    <p class="tittle">Preencha o Formulário</p>
                                                    <div class="registerTop">
                                                        <div>
                                                            <label class="picture" for="picture__input" tabIndex="0">
                                                                <span class="picture__image"></span>
                                                            </label>
                                                            <input type="file" name="picture__input" id="picture__input">
                                                            <script>
                                                                const inputFile = document.querySelector("#picture__input");
                                                                const pictureImage = document.querySelector(".picture__image");
                                                                const pictureImageTxt = "Escolha uma Imagem";
                                                                pictureImage.innerHTML = pictureImageTxt;

                                                                inputFile.addEventListener("change", function (e) {
                                                                const inputTarget = e.target;
                                                                const file = inputTarget.files[0];

                                                                if (file) {
                                                                    const reader = new FileReader();

                                                                    reader.addEventListener("load", function (e) {
                                                                    const readerTarget = e.target;

                                                                    const img = document.createElement("img");
                                                                    img.src = readerTarget.result;
                                                                    img.classList.add("picture__img");

                                                                    pictureImage.innerHTML = "";
                                                                    pictureImage.appendChild(img);
                                                                    });

                                                                    reader.readAsDataURL(file);
                                                                } else {
                                                                    pictureImage.innerHTML = pictureImageTxt;
                                                                }
                                                                });

                                                            </script>
                                                        </div>

                                                        <div class="tamanho nomes">
                                                            <input class="input" type="text" id="firstName" name="firstName" required placeholder="Digite o Nome">
                                                            <input class="input" type="text" id="lastName" name="lastName" required placeholder="Digite o Sobrenome">
                                                        </div>
                                                    </div>

                                                    <input class="tamanho" type="email" id="email" name="email" required placeholder="Digite o endereço de Email">
                                                    
                                                    <div class="tamanho pass">
                                                        <input type="password" id="password" name="password" required placeholder="Password">
                                                        <input type="password" id="passConfirm" name="passConfirm" placeholder="Confirmar Password">
                                                    </div>

                                                    <div class="tamanho select">                             
                                                        <div style="margin-top: 15px;">
                                                            <label class="label" for="permissionId">Nivel de Acesso:</label>
                                                            <select id="permissionId" name="permissionId">
                                                                <option value="1">Super Administrador</option>
                                                                <option value="2">Administrador</option>
                                                                <option value="3">Editor</option>
                                                                <option value="4">Validador</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <button type="button" id="registerButton">Cadastrar</button>
                                                </form>
                                                                <!--
                    ----------------------------------- LOGICA PARA REGISTAR DADOS DO USUARIO------------------------------------
                                                                -->
                                                <script>
                                                    document.addEventListener("DOMContentLoaded", function () {
                                                        // Adicione um ouvinte de evento ao botão de registro
                                                        document.getElementById("registerButton").addEventListener("click", function () {
                                                            // Chame a função de registro passando o formulário como argumento
                                                            registerData(document.getElementById("registrationForm"));
                                                        });
                                                    });

                                                    function registerData(form) {
                                                        // Crie um objeto FormData com os dados do formulário
                                                        var formData = new FormData(form);

                                                        // Faça uma solicitação POST para a API
                                                        fetch('/register', {
                                                            method: 'POST',
                                                            body: formData
                                                        })
                                                        .then(response => {
                                                            if (!response.ok) {
                                                                throw new Error('Erro na solicitação!');
                                                            }
                                                            return response.json();
                                                        })
                                                        .then(responseData => {
                                                            console.log('Dados registrados com sucesso:', responseData);
                                                            // Faça algo com a resposta, se necessário
                                                        })
                                                        .catch(error => {
                                                            console.error('Erro:', error);
                                                            // Lide com o erro adequadamente
                                                        });
                                                    }
                                                </script>
                                            </div>

                                            
                                        
                                        </div>
                                    </div>
                                    
                                    <script>
                                        // Get the modal
                                        var modal = document.getElementById("myModal");
                                        
                                        // Get the button that opens the modal
                                        var btn = document.getElementById("myBtn");
                                        
                                        // Get the <span> element that closes the modal
                                        var span = document.getElementsByClassName("close")[0];
                                        
                                        // When the user clicks the button, open the modal 
                                        btn.onclick = function() {
                                          modal.style.display = "block";
                                        }
                                        
                                        // When the user clicks on <span> (x), close the modal
                                        span.onclick = function() {
                                          modal.style.display = "none";
                                        }
                                        
                                        // When the user clicks anywhere outside of the modal, close it
                                        window.onclick = function(event) {
                                          if (event.target == modal) {
                                            modal.style.display = "none";
                                          }
                                        }
                                    </script>
                                </div>
    
                                <table class="userTable" border="1">
                                    <thead>
                                        <tr>
                                            <td>Nível de Acesso</td>
                                            <td>Nome</td>
                                            <td>Sobrenome</td>
                                            <td>Email</td>
                                            <td>Departamento</td>
                                            <td>Função</td>
                                        </tr>
                                    </thead>
    
                                    <tbody id="data-table-body">
                                        <tr>
                                            <td>Admin</td>
                                            <td>Eduardo</td>
                                            <td>de Brito</td>
                                            <td>eduardo370@outlook.pt</td>
                                            <td>Tecnologia de Informação</td>
                                            <td>Programador Junior</td>
                                        </tr>
                                    </tbody>
                                </table>

<!--
                    ----------------------------------- LOGICA PARA LISTAR OS USUARIOS------------------------------------
                                                                -->

                                <script>
                                    // Função para fazer a requisição à API
                                    function fetchData() {
                                        // Substitua a URL abaixo pela URL da sua API
                                    
                                        fetch('/user?page=0&limit=8')
                                        .then(response => response.json())
                                        .then(data => {
                                            // Chama a função para preencher a tabela com os dados recebidos
                                            populateTable(data);
                                            console.log(data);
                                        })
                                        .catch(error => console.error('Erro ao buscar dados da API:', error));
                                    }
                                        
                                   

                                    // Função para preencher a tabela com os dados
                                    function populateTable(data) {
                                        var tableBody = document.getElementById('data-table-body');

                                        // Limpa qualquer conteúdo existente na tabela
                                        tableBody.innerHTML = '';

                                        // Itera sobre os dados e os adiciona à tabela
                                        data.forEach(item => {
                                            var row = tableBody.insertRow();
                                            var cell1 = row.insertCell(0);
                                            var cell2 = row.insertCell(1);
                                            var cell3 = row.insertCell(2);
                                            var cell4 = row.insertCell(3);
                                            var cell5 = row.insertCell(4);
                                            var cell6 = row.insertCell(5);
                                            // Adicione mais células conforme necessário

                                            cell1.textContent = item.id;
                                            cell2.textContent = item.firstName;
                                            cell3.textContent = item.lastName;
                                            cell4.textContent = item.email;
                                            cell5.textContent = item.role;
                                            cell6.textContent = item.type;
                                            // Preencha mais células conforme necessário
                                        });
                                    }

                                    // Chama a função para buscar os dados quando a página carregar
                                    fetchData();
                                </script>





                            </div>
                        </div>
                        
                        <div class="pagination">
                            <p>Página » </p>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>