<%- include('./partials/head'); -%>
    <!-- About Start -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/banner/quem_somos.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Sobre</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Sobre</li>
            </ol>

        </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="container-fluid  wow fadeInUp" data-wow-delay="0.1s">
        <div class="container  border-bottom shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">
                        </h5>
                        <h1 class="mb-0">Servimos angola a mais de 27 anos com os melhores serviços</h1>
                    </div>
                    <p class="mb-4">O Grupo Boavida é um grupo empresarial de direito angolano com mais de 27 anos de experiência no mercado nacional, que tem no seu portfólio empreendimentos em diversos sectores, tendo como principal core business, o ramo imobiliário.</p>
                    <p class="mb-4">O Grupo já construiu sete condomínios residenciais e de escritórios (Vereda das Flores, Real Park, Ville Vermont, Hipicus, Solida Plaza e Infinity l e II), e está actualmente a construir outros grandes projectos habitacionais, englobados
                        na Urbanização BOA VIDA e Cidade BOA VIDA, que uma vez concluídos estes projectos trarão ganhos significativos mais completo para o país.
                    </p>
                    <p class="mb-4">Com mais 5.400 funcionários, o BOAVIDA detém um capital humano por género divido em 91% masculinos e 9% femininos, com uma percentagem de idades entre os 16,54% até aos 25 anos, 77,10% entree 26 e 45 anos e 6,36% acima dos 46 anos
                        de idade. Dispomos de oito nacionalidades e 10 idiomas, entre o Português, Polaco, Inglês, Françês, Espanhol, Austríaco, Chinês, Ucraniano, Árabe e Afrikaans.
                    </p>
                    <p class="mb-4">No que concerne a valorização nacional, temos entre nós 6 (seis) línguas nacionais entre o Kimbundu, Umbundo, Kikongo, Tchokwe, Nganguela e Zulu.</p>
                    <p class="mb-4">Há mais de 27 anos em Angola, o Grupo Boavida tem actuado com base na inovação, gestão moderna e transparente, valorização do capital humano, promoção e valorização de sectores da economia anteriormente pouco explorados, aceleração
                        e valorização da produção local em distintas áreas:</p>
                    <div class="row g-0 mb-3">
                        <div class="row col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <div class="col-lg-6">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Imobiliária</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Construção Civil; </h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Comunicação e Negócios. </h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Agroindústria; </h5>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Pescas;</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Mármore e Granito;</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Forrmação e Capacitação de Quadros; </h5>


                            </div>



                        </div>
                        <p class="mb-4">Somos uma equipa de pessoas dedicadas, competentes e focadas no sucesso pessoal da empresa e do país. O Grupo Boavida nasceu há mais de vinte anos com o foco no ramo da construção civil. Entregou mais de dez mil moradias em diversos
                            condomínios em Luanda. Mas a vontade de ir mais longe fez a empresa diversificar as suas acções.
                        </p>

                    </div>
                </div>
                <div class="col-lg-12 py-2 history-img">
                    <div class="position-relative h-100 ">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn " data-wow-delay="0.9s " src="/assets/img/historia-1.jpeg ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Facts Start -->
    <div class="container-fluid px-0 facts-baout ">
        <div class="py-5 banner-facts ">
            <div class="container py-5 ">
                <div class="row gx-0 g-4 ">
                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.1s ">
                        <div class="history-banner bg-transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="fa fa-users text-primary "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-white mb-0 ">Mais de 5.363 colaboradores directos</h5>
                                <h1 class="text-white mb-0 " data-toggle="counter-up ">5.363</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.3s ">
                        <div class="history-banner transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="fa fa-building text-white "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-primary mb-0 ">Mais de 27 anos no mercado Angolano</h5>
                                <h1 class="mb-0 " data-toggle="counter-up ">27</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow zoomIn " data-wow-delay="0.6s ">
                        <div class="history-banner transparent shadow d-flex align-items-center justify-content-center p-4 " style="height: 150px; ">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2 " style="width: 60px; height: 60px; ">
                                <i class="bi bi-cash-stack "></i>
                            </div>
                            <div class="ps-4 ">
                                <h5 class="text-white mb-0 ">Mais de 500 Milhões de USD em projectos</h5>
                                <h1 class="text-white mb-0 " data-toggle="counter-up ">500</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- About Start -->
    <div class="container-fluid py-1 wow fadeInUp " data-wow-delay="0.1s ">
        <div class="container py-0 ">
            <div class="row g-5 ">
                <div class="col-lg-5 " style="min-height: 500px; ">
                    <div class="position-relative h-100 ">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn " data-wow-delay="0.5s " src="./assets/img/history.jpg " style="object-fit: cover; ">
                    </div>
                </div>
                <div class="col-lg-7 ">
                    <div class="section-title position-relative pb-3 mb-5 ">
                        <h5 class="fw-bold text-primary text-uppercase ">Nossa objectivo
                        </h5>
                        <h1 class="mb-0 ">Os nossos objectivos permitem nós continuar no activo</h1>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase ">MISSÃO</h5>
                        <p class="mb-4 ">Comprometidos com a satisfação dos clientes, criamos produtos e serviços inovadores para proporcionar a melhor qualidade de vida.
                        </p>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase ">VISÃO</h5>
                        <p class="mb-4 ">Sermos reconhecidos como um dos maiores grupos empresariais pela excelência na gestão, apostando na produção e capacitação nacional.</p>
                    </div>
                    <div>
                        <h5 class="fw-bold text-primary text-uppercase ">VALORES</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Satisfação do cliente</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Profissionalismo</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Liderar pelo exemplo</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Espírito de equipa</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Resiliência</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Servir com humildade</h5>
                        <h5 class="mb-2 "><i class="fa fa-check text-primary me-2 "></i>Materialização</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->
    <%- include('./partials/footer'); -%>