.modal-add-photo {
    display: none;
    justify-content: center;
    align-items: center;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#picture_input_add_photo {
    display: none;
}

.picture-add-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 300px;
    background: #fafafa;
    color: #091E3E;
    border: 2px dashed #333;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.picture-add-photo:hover {
    color: #091E3E;
    background: #ccc;
}

.picture_image_add_photo img {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.remove_photo {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #091E3E;
    margin-top: 10px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}